.Burger {
    width: 100%;
    margin: auto;
    height: 25rem;
    overflow-x: hidden;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}

/* 'mobile first' approach */
@media only screen and (min-width: 500px) and (min-height: 400px) {
    .Burger {
        width: 35rem;
        height: 30rem;
    }
}

@media only screen and (min-width: 500px) and (min-height: 401px) {
    .Burger {
        width: 45rem;
        height: 40rem;
    }
}

@media only screen and (min-width: 1000px) and (min-height: 700px) {
    .Burger {
        width: 70rem;
        height: 55vh;
    }
}

