.Logo {
    position: relative;
    height: 100%;
    background-color: #fdf2e7;
    padding: .7rem .9rem;
    border-radius: .5rem;
    display: flex;
    align-items: center;
}

.Logo img {
    height: 100%;
    margin: 0 auto;
}