span {
    text-transform: capitalize;
}

.OrderSummary__header {
    margin-bottom: 1.5rem;
}

.OrderSummary__body {
    text-align: left;
    margin-bottom: 1rem;
}

.OrderSummary__body ul {
    list-style: none;
    margin: 2rem 0;
}