.Input {
    width: 100%;
    padding: 1rem;
}

.Label {
    font-weight: bold;
    display: block;
}

.InputElement {
    display: block;
    width: 100%;
    outline: none;
    border: none;
    background-color: #fff;
    font: inherit;
    padding: .6rem 1rem;
}

.InputElement:focus {
    outline: none;
    background-color: #ccc;
}

.InputElement:not(:last-child){
    margin-bottom: 1rem;
}

.Invalid {
    border: 1px solid red;
    background-color: #fa807230;
}

.ValidationError {
    color: red;
    margin: .5rem 0;
}