.Layout  {
    font-size: 2.2rem;
}

.content { 
    margin: 5.5rem 0 3rem 0;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    background: #000;
    color: #fff;
    padding: .8rem;
    font-size: 1.4rem;
}